snt_darmanko_homepage:
    path:     /
    defaults: { _controller: SNTDarmankoBundle:Default:index }

list:
    path:     /list
    defaults: { _controller: SNTDarmankoBundle:reservation:list }

detail:
    path:     /detail/{id}
    defaults: { _controller: SNTDarmankoBundle:reservation:detail }
    requirements:
        id: \d+

lister:
    path:     /admin/lister
    defaults: { _controller: SNTDarmankoBundle:admin:lister }

biens:
    path:     /admin/biens
    defaults: { _controller: SNTDarmankoBundle:admin:biens }

admin:
    path:     /admin
    defaults: { _controller: SNTDarmankoBundle:admin:admin }

reservation:
    path:     /reservation/{id}
    defaults: { _controller: SNTDarmankoBundle:admin:detailClient }
    requirements:
        id: \d+

test:
    path:     /test
    defaults: { _controller: SNTDarmankoBundle:reservation:test }

dcontrat:
    path:     /dcontrat/{id}
    defaults: { _controller: SNTDarmankoBundle:admin:dcontrat }

contrat:
    path:     /contrat/{id}
    defaults: { _controller: SNTDarmankoBundle:admin:contrat }

AfficherContrat:
    path:     /afficherContrat
    defaults: { _controller: SNTDarmankoBundle:admin:AfficherContrat }
