.header1 {
    background-image: url('../image/bg1.png');
    background-size: cover;
    width: 100%;
    height: 500px;
    padding-top: 300px;
}

ul {
    list-style: none;
    font-family: Goudy;
    color: grey;
}

b.cercle {
    display: block;
    width: 200px;
    height: 200px;
    background-image: url('dak6.jpeg');
    border-radius: 50%;
    margin-top: -100px;
    color: blue;
}

.sita {
    background: lightgrey;
}

.boule {
    display: flex;
}

.sa {
    color: black;
    border-left: solid 1px grey;
    opacity: 0.5;
}

#google {
    border: solid 1px grey;
    border-radius: 20px;
    background-image: url('{{ asset('image/google.png') }}');
    height: 300px;
}

.card-columns .card img {
    height: 200px;
}
