<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    	<link rel="stylesheet" href="{{asset('css/style.css')}}">
    </head>
    <body>
        <nav class="navbar bg-secondary fixed-top">
            <ul style="display:flex;margin-left:500px;">
                <li><a href="{{path('list')}}" class="txtNav">Accueil</a></li>
                <ul>
                    <li><a href="#" class="txtNav">Contact</a></li>
                </ul>
            </ul>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link txtNav" href="#">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link txtNav" href="#">S'inscrire</a>
                </li>   
            </ul>
        </nav>
        <h1><p><br><br></p></h1>
        
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="{{asset('js/script.js')}}"></script>
</html>