{% extends "::reservation.html.twig" %}

{% block title %}Détail-produit{% endblock %}
{% block content %}
<div class="container">
    <h1 style="font-family:Goudy; color:grey"> Votre réservation a été prise en charge</h1>
    <h1>
</div>
{% endblock %}