{% extends "::base.html.twig" %}

{% block title %}Darmanko-Admin{% endblock %}

{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

{% endblock %}


{% block body %}
    <br>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item disabled" id="bien">Biens</li>
                    <li class="list-group-item" id="reservation">Réservation</li>
                </ul>
            </div>
            <div class="col-9" id="content"></div>
        </div>
    </div>
    <script>
        $(function(){
            $("#content").load("{{path('biens')}}")

            $("#bien").on("click", function(){
                $("#content").load("{{path('biens')}}");
            })
            $("#reservation").on("click", function(){
                $("#content").load("{{path('lister')}}");
            })

            
            
        })
    </script>
{% endblock %}
